<!-- Header -->
<header class="header-v2">
	<!-- Header desktop -->
	<div class="container-menu-desktop trans-03">
		<div class="wrap-menu-desktop">
			<nav class="limiter-menu-desktop p-l-45">

				<!-- Logo desktop -->
				<a href="#" class="logo">
					<img src="images/icons/logo-01.png" alt="IMG-LOGO" style="height: 40px; width: y0px;">
				</a>

				<!-- Menu desktop -->
				<div class="menu-desktop">
					<ul class="main-menu">
						<li class="active-menu">
							<a href="/">Home</a>

						</li>
						<li>
							<a href="/">Shop</a>
						</li>

						<div>
							{{#if user}}
							<a href="/my-account">
								<button type="button">{{user.username}}</button></a>
							{{else}}
							<button type="button">Account</button>
							{{/if}}

							<button type="button" class="info dropdown-toggle dropdown-toggle-split mr-5"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu">
								{{#if user}}
								<a class="dropdown-item" href="/logout">logout</a>
								{{else}}
								<a class="dropdown-item" href="/login">login</a>
								{{/if}}
							</div>
						</div>
						</li>


						<li>
							<a href="/orders">My Orders</a>
						</li>

					</ul>
				</div>

				<!-- Icon header -->
				<div class="wrap-icon-header flex-w flex-r-m h-full">
					<div class="flex-c-m h-full p-r-24">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>
					</div>
					<a href="/view-cart">
						<div class="flex-c-m h-full p-l-18 p-r-25 bor5" id="cartCount">
							<div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart"
								data-notify={{cartCount}}>

								<i class="zmdi zmdi-shopping-cart"></i>
							</div>
						</div>
					</a>
					<div id="wishCount">
						<a href="/wishlist"
							class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
							data-notify="{{wishCount}}">
							<i class="zmdi zmdi-favorite-outline"></i>
						</a>
					</div>

					<div style="width: 100px;">

					</div>

				</div>
			</nav>
		</div>
	</div>

	<!-- Header Mobile -->
	<div class="wrap-header-mobile">
		<!-- Logo moblie -->
		<div class="logo-mobile">
			<a href="/"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
		</div>

		<!-- Icon header -->
		<div class="wrap-icon-header flex-w flex-r-m h-full m-r-15">



			<div>
				{{#if user}}
				<a href="/my-account">
					<button type="button">{{user.username}}</button></a>
				{{else}}
				<button type="button">Account</button>
				{{/if}}

				<button type="button" class="info dropdown-toggle dropdown-toggle-split mr-5" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<div class="dropdown-menu">
					{{#if user}}
					<a class="dropdown-item" href="/logout">logout</a>
					{{else}}
					<a class="dropdown-item" href="/login">login</a>
					{{/if}}
				</div>
			</div>
			<div>
				<a href="/wishlist"
					class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
					data-notify="{{wishCount}}">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>
			</div>

			<a href="/view-cart">
				<div class="flex-c-m h-full p-lr-10 bor5">
					<div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart"
						data-notify={{cartCount}}>
						<i class="zmdi zmdi-shopping-cart"></i>
					</div>
				</div>
			</a>
		</div>




		<!-- Button show menu -->
		<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</div>
	</div>


	<!-- Menu Mobile -->
	<div class="menu-mobile">
		<ul class="main-menu-m">
			<li>
				<a href="/">Home</a>
	

			</li>

			<li>
				<a href="/">Shop</a>
			</li>

			<li>
				<a href="/my-account">My Account</a>
			</li>

			<li>
				<a href="/orders">My Orders</a>
			</li>
		</ul>
	</div>