<div class="container" class="col-md-12">
    
    <div class="row">
        <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
            <div class="m-l-25 m-r--38 m-lr-0-xl">
                <table class="table table-striped table-dark" id="usersTable">
                  <strong>Orders</strong>
                    <thead>
                        <tr>
                            <th scope="col">NO:</th>
                            <th scope="col">Date</th>
                            <th scope="col">Address</th>
                            <th scope="col">Pincode</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Payment</th>
                            <th scope="col">status</th>
                            <th scope="col">Options</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <th scope="row">{{inc @index}}</th>
                            <td>{{this.date}}</td>
                            <td>{{this.deliveryDetails.address}}</td>
                            <td>{{this.deliveryDetails.pincode}}</td>
                            <td>{{this.deliveryDetails.mobile}}</td>
                            <td>{{this.totalAmount}}</td>
                            <td>{{this.paymentMethod}}</td>
                            <td>{{this.status}}</td>

                            <td>
                                <a class="btn btn-success" href="/view-order-products?id={{this._id}}">Details</a>


                                {{#if fixed}}

                                {{else}}


                                <a class="btn btn-danger" href="/order-cancel/{{this._id}}"
                                    onclick="return confirm('Are you sure to cancel the?')">Cancel</a>
                            </td>



                            {{/if}}




                        </tr>
                        {{/each}}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {


        $('#usersTable').wrap('<div id="hide" style="display:none"/>');

        $('#hide').css('display', 'block');
    });


    var table = $('#usersTable').DataTable();
</script>